/* Colors */
:root {
    --color-verydark-magenta: hsl(300, 43%, 22%);
    --color-soft-pink: hsl(333, 80%, 67%);

    --color-verygreyish-magenta: hsl(303, 10%, 53%);
    --color-lightgreyish-magenta: hsl(300, 24%, 96%);
    --color-white: #fff;
  }