@use "../abstracts/functions" as f;

/**************************/
/* INTRO */
/**************************/
.c-intro-heading-wrapper {
    margin-top: f.rem(50px);
    text-align: center;
}

.c-intro-primary-heading {
    font-size: f.rem(40px);
    letter-spacing: -1px;
    line-height: normal;
    color: var(--color-verydark-magenta);
}

.c-intro-desc {
    margin-top: f.rem(20px);
    font-size: f.rem(19px);
    font-weight: 400;
    
    letter-spacing: -1px;
    line-height: f.rem(24px);
    text-wrap: pretty;
    color: var(--color-verygreyish-magenta);
}



@media (width > 43.75em) {
    .c-intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: f.rem(16px);
    }

    .c-intro-heading-wrapper {
        max-width: f.rem(436px);
        text-align: left;
    }

    .c-intro-primary-heading {
        text-wrap: pretty;
        font-size: f.rem(56px);
    }

    .c-intro-desc {
        text-wrap: pretty;
    }
}