@use "../abstracts/functions" as f;

/**************************/
/* TESTIMONIALS */
/**************************/

.c-testimonials-wrap {
    margin-top: f.rem(50px);
    list-style-type: none;
    padding-left: 0;

    display: grid;
    grid-template-areas: 
    't1'
    't2'
    't3';
    gap: f.rem(25px);
}

.c-testimonial {
    
    &:nth-child(1) {
        grid-area: t1;
    }

    &:nth-child(2) {
        grid-area: t2;
    }

    &:nth-child(3) {
        grid-area: t3;
    }
    
    display: grid;
    gap: f.rem(20px);
    border-radius: 9px;

    padding: f.rem(25px);
    color: var(--color-white);
    background-color: var(--color-verydark-magenta);
}

/* TESTIMONY BUYER */
/**************************/
.c-testimonial__buyer {
    display: flex;
    gap: f.rem(25px);
}

/* BUYER IMG */
.c-testimonial__img {
    height: f.rem(40px);
    border-radius: 100%;
}

.c-testimonial-stack {
    line-height: f.rem(18px);
}

/* BUYER NAME */
.c-testimonial__name {

    font-size: f.rem(17px);
    font-weight: 700;
}

.c-testimonial-stack span {
    font-weight: 400;
    color: var(--color-soft-pink);
}

.c-testimonial__desc {
    font-weight: 500;
}

/* TESTIMONY QUOTE */
/**************************/
.c-testimonial__desc {
    margin-top: f.rem(20px);
    font-weight: 400;
}

@media (width > 43.75em) {
    .c-testimonials {
        grid-column: 1 / -1;
    }

    .c-testimonials-wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.5rem 0.5rem 1fr 0.5rem 0.5rem;
        grid-template-areas: 
        't1 .. ..'
        't1 t2 ..'
        't1 t2 t3'
        '.. t2 t3'
        '.. .. t3';

        align-items: start;
        gap: f.rem(25px);
    }

    .c-testimonial {
        padding: f.rem(35px);
    }

    .c-testimonial__desc {
        font-size: f.rem(17px);
    }
    

}