@use "../abstracts/functions" as f;

/**************************/
/* TESTIMONIALS */
/**************************/

.c-testimonials-wrap {
    margin-top: f.rem(50px);
    list-style-type: none;
    padding-left: 0;

    display: grid;
    gap: f.rem(25px);
}

.c-testimonial {
    display: grid;
    gap: f.rem(20px);
    border-radius: 9px;

    padding: f.rem(25px);
    color: var(--color-white);
    background-color: var(--color-verydark-magenta);
}

/* TESTIMONY BUYER */
/**************************/
.c-testimonial__buyer {
    display: flex;
    gap: f.rem(25px);
}

/* BUYER IMG */
.c-testimonial__img {
    height: f.rem(40px);
    border-radius: 100%;
}

.c-testimonial-stack {
    line-height: f.rem(18px);
}

/* BUYER NAME */
.c-testimonial__name {

    font-size: f.rem(17px);
    font-weight: 700;
}

.c-testimonial-stack span {
    font-weight: 400;
    color: var(--color-soft-pink);
}

.c-testimonial__desc {
    font-weight: 500;
}

/* TESTIMONY QUOTE */
/**************************/
.c-testimonial__desc {
    margin-top: f.rem(20px);
    font-weight: 400;
}

@media (width > 43.75em) {
    .c-testimonials {
        grid-column: 1 / -1;
    }

    // .c-testimonials-wrap {
    //     display: flex;
    //     flex-direction: row;
    //     align-items: start;
    //     gap: f.rem(25px);
    // }

    // .c-testimonial {
    //     flex-direction: row;
    //     flex-basis: auto;
    //     max-width: f.rem(400px);
    //     padding: f.rem(35px);

    //     // &:nth-child(1) {
    //     //     align-self: start;
    //     // }

    //     &:nth-child(2) {
    //         margin-top: f.rem(32px);
    //     }

    //     &:nth-child(3) {
    //         margin-top: f.rem(64px);
    //     }
    // }

    .c-testimonials-wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
        gap: f.rem(25px);
    }

    .c-testimonial {
        padding: f.rem(35px);

        &:nth-child(1) {
            align-self: start;
        }

        &:nth-child(2) {
            align-self: center;
        }

        &:nth-child(3) {
            margin-top: f.rem(64px);
        }
    }

    .c-testimonial__desc {
        font-size: f.rem(17px);
    }
    

}